<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_MeteoIService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:56872/MeteoService.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_MeteoIService" contract="MeteoService.MeteoIService"
                name="BasicHttpBinding_MeteoIService" />
        </client>
    </system.serviceModel>
</configuration>